# Gravitino
GRAVITINO_IMAGE_TAG=1.1.0
GRAVITINO_METALAKE_NAME=argos_finance_metalake
GRAVITINO_CATALOG_NAME=argos_finance_catalog

# Postgres
POSTGRESQL_IMAGE_TAG=14
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=catalog_metastore_db

# Minio
MINIO_IMAGE_TAG=RELEASE.2025-09-07T16-13-09Z
MINIO_CLIENT_IMAGE_TAG=RELEASE.2025-08-13T08-35-41Z
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=miniopass

# Spark
SPARK_SCALA_VERSION=3.5_2.12
SPARK_VERSION=3.5.0
ICEBERG_VERSION=1.10.0
PYTHON_VERSION=3.10.11

# Trino
TRINO_IMAGE_TAG=435

# JAR Versions
POSTGRESQL_JAR_VERSION=42.7.0
HADOOP_AWS_JAR_VERSION=3.3.1
AWS_JAVA_SDK_BUNDLE_JAR_VERSION=1.11.901

# PROJECT INFORMATION
PROJECT_NAME="argos-finance-data-platform"

# ======================== Update This Part ========================
# API Credentials
ALPHA_VANTAGE_BASE_URL="https://www.alphavantage.co"
ALPHA_VANTAGE_API_KEY=<INSERT API KEY>

FRED_BASE_URL="https://api.stlouisfed.org"
FRED_API_KEY=<INSERT API KEY>
