# =======================================================================
# Set up Spark Configuration
# =======================================================================
spark.master=spark://spark-master:7077
spark.eventLog.enabled=true
spark.eventLog.dir=/opt/spark/spark-events
spark.history.fs.logDirectory=/opt/spark/spark-events
spark.sql.shuffle.partitions=10

# =======================================================================
# Enable data catalog access from Gravitino Iceberg REST Catalog
# =======================================================================
spark.jars=/root/spark/jars/iceberg-spark-runtime-${SPARK_SCALA_VERSION}-${ICEBERG_VERSION}.jar,/root/spark/jars/hadoop-aws-${HADOOP_AWS_JAR_VERSION}.jar,/root/spark/jars/aws-java-sdk-bundle-${AWS_JAVA_SDK_BUNDLE_JAR_VERSION}.jar
spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions
spark.sql.catalog.${GRAVITINO_CATALOG_NAME}=org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.${GRAVITINO_CATALOG_NAME}.type=rest
spark.sql.catalog.${GRAVITINO_CATALOG_NAME}.uri=http://gravitino:9001/iceberg/
spark.sql.defaultCatalog=${GRAVITINO_CATALOG_NAME}